*.pyc
output*
model/*.o
model/*.so
multicell_rc_utils/results
multicell_rc_utils/results.csv
multicell_rc_utils/args.csv
multicell_rc_utils/plot.png
multicell_rc_utils/Rplots.pdf
multicell_rc_utils/*_prcc.png
multicell_rc_utils/sensitivity_analysis.png
